<div class="coming-soon-container">
  <div class="inner">

    <img loading="eager" class='comingimg' src='https://cdn.shopify.com/s/files/1/0461/5484/2275/files/whrinstitue.png?v=1693265245' />
    
    {% comment %} <h4>whr.institute is under construction</h4> {% endcomment %}

    <br />
    
    <p>sign up for updates</p>

    <div class="site-footer__newsletter">
      {%- assign formId = 'ContactFooter' -%}

      {%- if form.posted_successfully? -%}
        <p class="form-message form-message--success" tabindex="-1" data-form-status>thanks! we will keep you posted</p>
      {%- else -%}
        {% form 'customer', id: formId, novalidate: 'novalidate' %}
          <input type="hidden" name="contact[tags]" value="newsletter">
          <div class="input-group {% if form.errors %} input-group--error{% endif %}">
            <input
              type="email"
              name="contact[email]"
              id="{{ formId }}-email"
              class="input-group__field newsletter__input{% if form.errors %} input--error{% endif %}"
              value="{{ form.email }}"
              placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
              aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
              aria-required="true"
              required
              autocorrect="off"
              autocapitalize="off"
              {% if form.errors %}
                aria-invalid="true"
                aria-describedby="{{ formId }}-email-error"
                data-form-status
              {% endif %}
            >
            <span class="input-group__btn">
              <button type="submit" class="btn newsletter__submit" name="commit">
                <span class="newsletter__submit-text--large">{{ 'general.newsletter_form.submit' | t }}</span>
              </button>
            </span>
          </div>
          {% if form.errors contains 'email' %}
            <span id="{{ formId }}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% render 'icon-error' %}
              <span class="site-footer__newsletter-error">
                {{- form.errors.translated_fields.email | capitalize }}
                {{ form.errors.messages.email }}.</span
              >
            </span>
          {% endif %}
        {% endform %}
      {%- endif -%}
    </div>
  </div>

  <video
    class="comingvideo"
    autoPlay
    muted
    playsInline
    width="100%"
    height="100%"
    preload="auto"
    loop
    poster="https://cdn.shopify.com/s/files/1/0461/5484/2275/files/poster.png?v=1693262708"
  >
    <source
      src="https://player.vimeo.com/external/858803272.m3u8?s=ebaef766831970dddb888a889378f528fe9f1e0c"
      type="application/x-mpegURL"
    >
    <source
      src="https://player.vimeo.com/progressive_redirect/playback/858803272/rendition/360p/file.mp4?loc=external&signature=68bfed415235d2c041f802f6e3e68f48431395773ce413ab313d2b11c1233113"
      type="video/mp4"
    >
  </video>
</div>
